html,body {
	height: 100%;
}

body {
	background-color: #262626;
}

/* Login Card */

.card {
  width: 90%;
  padding: 5%;
  margin: 5%;
  background: #274029;
  /* background: linear-gradient(180deg, rgba(39,64,41,1) 30%, rgba(49,92,43,1) 85%); */
  border-color: transparent;
  box-shadow: 5px 5px 5px black;
}

/* for tablets */
@media (min-width: 768px) { 
  .card {
    width: 75%;
  }
}

/* for large devices */
@media (min-width: 992px) { 
  .card {
    width: 60%;
  }
}

.card-body {
  text-align: center;
}

h1 {
  color: white;
  text-transform: uppercase;
}

/* Input Boxes */

.form-control {
  background: none;
  width: 70%;
  text-align: center;
  color: white;
  padding: 5%;
  margin: auto;
  border: 2.5px solid #315C2B;
  border-radius: 20px;
  transition: 0.30s;
}

.form-control:focus {
  background: none;
  width: 80%;
  color: white;
  border-color: #F7B500;
  box-shadow: none;
}

/* Checkbox */

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#F7B500;
  border-color: #F7B500;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 1px #F7B500, 0 0 0 0.2rem rgba(247, 181, 0, 0.25);
}

/* Submit Button */

.btn-primary {
  background: none;
  width: 40%;
  border: 2px solid #F7B500;
  padding: 3%;
  color: white;
  border-radius: 20px;
  transition: 0.30s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #F7B500 !important;
  border-color: #F7B500 !important;
  box-shadow: 0 0 0 0.2rem #F7B500 !important;
}

a {
  color: #F7B500 !important;
}
