{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'batapp/lib/css/bootstrap.min.css' %}">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'batapp/dashboard.css' %}">
    
    <title>BAT - Dashboard</title>
  </head>
  <body>
    
    
    <nav id="navbar" class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">BAT Annotation Tool</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div id="main-container" class="container-fluid h-100-m-48">
      <div id="main-row" class="row h-100">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Main Feed <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  My Jobs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Account
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Custom Feeds</span>
              <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Berlin Smart City
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  DOS @ TU Berlin
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  TU München
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Einstein Center
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 px-3">
            <h1 class="h2">Tag: <span class="totag">Crosswalk</span></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Skip image</button>
              </div>
            </div>
          </div>
          
          
          
          
          <!-- CANVAS -->
          <div id="todo-buttons">
            <button id="b1" class="btn btn-dark">Bild 1</button>
            <button id="b2" class="btn btn-dark">Bild 2</button>
            
            <button id="plus" class="btn btn-dark">+</button>
            <button id="minus" class="btn btn-dark">-</button>
            <button id="reset" class="btn btn-dark">Reset</button>
            
            <button id="up" class="btn btn-dark">Up</button>
            <button id="left" class="btn btn-dark">Left</button>
            <button id="down" class="btn btn-dark">Down</button>
            <button id="right" class="btn btn-dark">Right</button>
          </div>
          
          <div id="container">
            <div id="translation">
              <img id="image" src="" alt="">
              <div id="tagcontainer">
                <div id="tag"></div>
              </div>
              <canvas id="canvas"></canvas>
            </div>
          </div>
          <!-- END: CANVAS -->
          
          
          
        </main>
      </div>
    </div>

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'batapp/lib/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'batapp/lib/js/popper.min.js' %}"></script>
    <script src="{% static 'batapp/lib/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'batapp/dashboard.js' %}"></script>
  </body>
</html>
