{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'batapp/lib/css/bootstrap.min.css' %}">
    
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'batapp/dashboard.css' %}">
    
    {% block stylesheets %}
    {% endblock %}
    
    {% block title %}
    {% endblock %}
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'index' %}">{{ user.username }}</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    
    <div id="main-container" class="container-fluid h-100-m-48">
      <div id="main-row" class="row h-100">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link{% if nav == 'feed' %} active{% endif %}" href="{% url 'feed' %}">
                  <span data-feather="home"></span>
                  Main Feed{% if nav == 'feed' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'upload' %} active{% endif %}" href="{% url 'upload' %}">
                  Upload{% if nav == 'upload' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'jobs' %} active{% endif %}" href="{% url 'jobs' %}">
                  My Jobs{% if nav == 'jobs' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'account' %} active{% endif %}" href="{% url 'account' %}">
                  Account{% if nav == 'account' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'logout' %} active{% endif %}" href="{% url 'logout' %}">
                  Logout{% if nav == 'logout' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            </ul>
            
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Custom Feeds</span>
              <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link{% if nav == 'custom-1' %} active{% endif %}" href="{% url 'feed' %}">
                  Berlin Smart City{% if nav == 'custom-1' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'custom-2' %} active{% endif %}" href="{% url 'feed' %}">
                  DOS @ TU Berlin{% if nav == 'custom-2' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'custom-3' %} active{% endif %}" href="{% url 'feed' %}">
                  TU München{% if nav == 'custom-3' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link{% if nav == 'custom-4' %} active{% endif %}" href="{% url 'feed' %}">
                  Einstein Center{% if nav == 'custom-4' %} <span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
            </ul>
          </div>
        </nav>
        
        <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          {% block main %}
          {% endblock %}
        </main>
      </div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'batapp/lib/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'batapp/lib/js/popper.min.js' %}"></script>
    <script src="{% static 'batapp/lib/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'batapp/dashboard.js' %}"></script>
    
    {% block javascripts %}
    {% endblock %}
    
  </body>
</html>
