{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <h2>Your user infos</h2>
      <form method="post" novalidate>
      {% csrf_token %}
      <ul>
        <li>Username: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
      </ul>
    </form>
  </div>

  <div class="container">
    <h2>Change User Settings</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">change profile</button>
    </form>
  </div>
{% endblock %}