{% extends 'base.html' %}
    {% block content %}
        <h1> zur Verfügung stehende Funktionalität  </h1>
            <div>Übersicht (diese Seite): <a href= "{% url 'functions' %}"> {% url 'functions' %} </a> </div>
            <div>Account anlegen: <a href= "{% url 'signup' %}"> {% url 'signup' %} </a> </div>
            <div>einloggen: <a href= "{% url 'login' %}"> {% url 'login' %} </a> </div>
            <div>ausloggen: <a href= "{% url 'logout' %}"> {% url 'logout' %} </a> </div>
            <div>Bilder hochladen: <a href= "{% url 'upload' %}"> {% url 'upload' %} </a> </div>
            <div>(alle) Bilder vom Server abrufen: <a href= "{% url 'getimages' %}"> {% url 'getimages' %} </a> </div>
            <div>(alle) Bilder vom Server abrufen: <a href= "{% url 'getall' %}"> {% url 'getall' %} </a> </div>
            <div>Passwort ändern: <a href= "{% url 'changePassword' %}"> {% url 'changePassword' %} </a> </div>
            <div>Profil ändern: <a href= "{% url 'changeProfile' %}"> {% url 'changeProfile' %} </a> </div>
            <div>Account löschen: <a href= "{% url 'deleteAccount' %}"> {% url 'deleteAccount' %} </a> </div>
            <div>ungetaggtes Bild vom Server abrufen mit der Möglichkeit zu skippen: <a href= "{% url 'get_untagged' %}"> {% url 'get_untagged' %} </a> </div>
            <div>User ruft die Bilder ab, die er hochgeladen hat: <a href= "{% url 'getuserimages' %}"> {% url 'getuserimages' %} </a> </div>
            <div>User ruft die Bilder ab, die er getagged hat: <a href= "{% url 'getusertaggedimages' %}"> {% url 'getusertaggedimages' %} </a> </div>
            <div>User taggt Bilder, AJAX Post Request: <a href= "{% url 'tag' %}"> {% url 'tag' %} </a> </div>


    {% endblock %}
